<div class="card" data-saved="{{saved}}">
    <div class="card-header">
        <h1 class="text-center float-left"><a href="{{url}}" target="_blank">{{headline}}</a></h1>
        <div id="buttons">
            <a class="btn btn-success float-right">Save Article</a>
        </div>
    </div>
    <div class="card-body">
        <img src="{{picture}}" alt="article picture" id="picture" class="col-sm-2 float-left">
        <h3 class="text-center">{{summary}}</h3>
    </div>
</div>