<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Article Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/saved">Saved</a>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="imgHeader">
        <div class="imgText align-middle">
            <h1 class="text-center align-middle" id="jumbo-text">Article Scraper</h1>
        </div>
    </div>
</div>
<div class="container-fluid articleContainer">
    {{#each article}}
        {{#if saved}}
            <div class="card" data-id="{{_id}}">
                <div class="card-header">
                    <h1 class="text-center float-left"><a href="{{url}}" target="_blank">{{headline}}</a></h1>
                    <div id="buttons">
                        <a class="btn btn-success float-right">Save Article</a>
                    </div>
                </div>
                <div class="card-body">
                    <img src="{{picture}}" alt="article picture" id="picture" class="col-sm-2 float-left">
                    <h3 class="text-center">{{summary}}</h3>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>
