<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Article Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/saved">Saved</a>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="imgHeader">
        <div class="imgText align-middle">
            <h1 class="text-center align-middle" id="jumbo-text">Article Scraper</h1>
        </div>
    </div>
</div>
<div class="modal note-modal" id="note-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card notes">
                    <div class="card-header">
                        Notes
                    </div>
                    <div class="card-body">
                        <div class="saved-notes">
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="noteInput">Enter Your Note</label>
                                <textarea class="form-control" id="noteInput"
                                          rows="3"></textarea>
                            </div>
                        </form>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveNote">Save changes</button>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
<div class="container articleContainer">
    {{#each article}}
        {{#if saved}}
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center float-left"><a href="{{url}}" target="_blank">{{headline}}</a></h1>
                    <div id="buttons">
                        <a class="btn btn-success float-right del-btn" data-id="{{_id}}">Delete Article</a>
                        <a class="btn btn-success float-right note-btn" data-id="{{_id}}">Notes</a>
                    </div>
                </div>
                <div class="card-body">
                    <img src="{{picture}}" alt="article picture" id="picture" class="col-sm-2 float-left">
                    <h3 class="text-center">{{summary}}</h3>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>
